<!DOCTYPE>
<html>
    <head>
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
        	<div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Nav</span>
                    	<span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><h1>Logo Here.</h1> </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    		<div class="top-search">
                                <form class="navbar-form navbar-right">
                                    <input type="text" class="form-control" placeholder="What are you looking for?">
                                    <input type="submit" value=" ">
                                </form>
                    	</div>
                    		<div class="header-top-right">
                                <div class="file">
                                    <a href="upload.html">Upload</a>
                                </div>
                                <div class="sign-in">
                                    <a href="#small-dialog2" class="play-icon popup-with-zoom-anim">Register</a>
                                    <!--Pop-up box with modernizer! Goes here-->



                                    <!-- End of pop-up register box -->
                                    </div>
                    </div>
                </div>
            </div>
        </nav>

    </body>

</html>
